@{
    ViewData["Title"] = "Home Page";
}
 

@{
	ViewData["Title"] = "Home Page";
}
<main class="bmd-layout-content">
	<div class="container-fluid ">

		Hi @User.Identity.Name! Welcome to the Admin Dashboard.

	</div>
</main>
